<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web App</title>
        <style>
            body {
                background-image: url('https://wallpapercave.com/wp/wp3264682.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
            .app-container,.app-store{
                display:-ms-flexbox;
                display:flex;
            }
            .app-store{
                -ms-flex-direction:column;
                flex-direction:column;
                -ms-flex-align:center;
                align-items:center;
                width:85%;
                max-width:1110px;
            }
            h1{
                color:#1e293b;
                font-size:100px;
                font-family:Rockwell ;
                font-weight: 800px;
                margin-top:40px;
                margin-bottom:48px;
                padding-left: 200px;
            }
            
            .tabs-list{
                display:-ms-flexbox;
                display:flex;
                -ms-flex-align:end;
                align-items:flex-end;
                padding-left:200px;
                margin-top:32px
            }
            .tab-item{
                list-style-type:none
            }
            .tab-button{
                color:black ;
                font-family:"Roboto";
                font-size: 20px;
                font-weight:500;
                border:none;
                padding-left:19px;
                padding-right:16px;
                padding-bottom:4px;
                background-color:transparent;
                outline:none;
                cursor:pointer;
            }
            a{
                color: black;
                text-decoration: none;
            }
            a:visited{
                text-decoration: none;
            }
            .about{
                width: 400px;
                height: 300px;
                margin-top: 100px;
                margin-left: 420px;
                text-align: center;
                color:  black;
                justify-content: center;
            }
            a:hover{
                color: blue;
            }
        </style>
    </head>
    <body>
        <div class="app-container">
            <div class="app-store">
                <h1 >App Store</h1>
                <ul class="tabs-list">
                    <li class="tab-item">
                        <button type="Signup" class="tab-button"><a href="/signup">Signup</a></button>
                    </li>
                    <li class="tab-item">
                        <button type="Signin" class="tab-button"><a href="/signin">Signin</a></button>
                    </li>
                </ul>
            </div>
        </div>
            <div class="about">
                <h2>About</h2>
                <p>This website shows the information about different apps.
                It also helps you to know different catogories of apps.</p>
                <p>To get access to the website, please login into the
                    website </p>
            </div>
    </body>
</html>
