<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" initial-state="1">
        <style>
            .d1{
                width: 450px;
                background-attachment: white;
                padding-top: 10px;
                padding: 40px;
                margin: auto;
                color: black;
                margin-top: 2%;
                border: 1px solid black;
                background-color: #c2e9fb;
            }
            #fname,#lname,#email,#pwd,#phone{
                width: 350px;
            }
            a:link{
                color: black;
                text-decoration: none;
            }
            a:hover{
                color: blue;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body >                     
        <div class="d1">
            <h1 align="center" style="font-size: 60px ;">Signup</h1>
            <form action="/signupsubmit" method="get" class="form-group">
                <b>First Name :</b> 
                    <input type="text" required name="fname" id="fname" class="form-control"><br>
                <b>Last Name :</b>
                    <input type="text" required name="lname" id="lname" class="form-control"><br>
                <b>Email :</b> 
                    <input type="email" required name="email" id="email" class="form-control"><br>
                <b>Password : </b>
                    <input type="password" required name="pwd" id="pwd" class="form-control"><br>
                <b>Mobile Number :</b> 
                    <input type="phone" required name="phone" id="phone" class="form-control"><br>
                <b>Date of Birth :</b>
                    <input type="date"  name="date" class="form-control"><br>
                <b>Gender :</b> <br><input type="radio"  name="gen" >Male<br>
                        <input type="radio"  name="gen" >Female<br>
                        <input type="radio"  name="gen" >Others<br>
                <div class="center">
                    <input type="submit" value="signup" style="font-size: 20px; margin-left:120px ;margin-right:auto;width: 100px;
                    color: white; border: none; border-radius: 50%; background-color: green; height: 40px;">
                    <hr><br>
                </div>
                <p align="center">already have an account? then <a href="/signin" >signin</a></p>
            </form>
        </div>
    </body>
</html>
